.search {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 300px; /* Reduced the max-width to make the search box smaller */
    margin-left: auto;
    margin-right: auto;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px; /* Reduced the border-radius to make the search box smaller */
    padding: 0.2rem 0.5rem; /* Reduced the padding to make the search box smaller */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-control {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  
  .form-control label {
    display: none;
  }
  
  .form-control input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    font-size: 0.9rem; /* Reduced the font size to make the search box smaller */
    color: #fff; /* Set input font color to white */
    padding: 0.2rem 0; /* Reduced the padding to make the search box smaller */
  }
  
  .form-control input::placeholder {
    color: #a2b2bd;
  }
  
  .search-btn {
    background-color: #3498db;
    color: #fff; /* Set button font color to white */
    border: none;
    border-radius: 10px; /* Reduced the border-radius to make the search box smaller */
    padding: 0.2rem 0.5rem; /* Reduced the padding to make the search box smaller */
    font-size: 0.75rem; /* Reduced the font size to make the search box smaller */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 0.5rem;
  }
  
  .search-btn:hover {
    background-color: #2980b9;
  }
  